@font-face {
  font-family: 'pf_beausans_probbook';
  src: url('../fonts/pfbeausanspro-bbook-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-bbook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans_problack';
  src: url('../fonts/pfbeausanspro-black-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans_probold';
  src: url('../fonts/pfbeausanspro-bold-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans_proitalic';
  src: url('../fonts/pfbeausanspro-italic-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}