$white: #fff;
$black: #000;

$blue: #0392CF;
$lightblue: #45B4E3;
$darkblue: #092439;
$lightenblue: #0192d1;

$gray: #99A4AC;
$grayinput: #E8E6E6;
$colorinput: #7E7E7E;
$lightgray: #8B8E93;

$orangefirst: #F19C70;
$orangelast: #F26014;

$colorblack: #1A283B;

