.gallery {

  .gallery__wrap {
    margin: 30px auto;
  }

  .gallery__title {
    font-size: 1.5625rem;
    line-height: 1.6875rem;
    color: $colorblack;
    margin-bottom: 30px;

    &::after {
      background: linear-gradient(90deg, #1A1E3B 0%, #0392CF 100%);
      width: 122px;
      height: 3px;
      content: '';
      display: block;
      margin-top: 9px;
    }

  }

  .gallery__block {
    margin: 15px 0;
  }

  .gallery__block--hide-mobile {
    display: none;
  }

  .gallery__element {
    margin: 15px 0;
  }

  .gallery__link {
    display: block;
  }

  .gallery__img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .gallery__add {
    background: linear-gradient(180deg, $blue 0%, $colorblack 100%);
    appearance: none;
    width: 100%;
    cursor: pointer;
    display: block;
    color: $colorblack;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 4px 0;
    font-family: pf_beausans_probold;
    margin: 25px auto 10px;
    border-radius: 35px;
    position: relative;
    border: none;

    img {
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: 100%;
      transform: translateX(-50%);
    }

    span {
      background-color: $white;
      display: block;
      width: calc(100% - 8px);
      margin: 0 auto;
      padding: 12px 0;
      border-radius: 35px;
      position: relative;

      b {
        background: url('../img/arrow-bottom.svg') no-repeat;
        background-position: 98% center;
        transition-duration: 500ms;
        transition-property: background-position;
        padding-left: 10px;
        display: inline-block;
        width: 10px;
        height: 6px;
      }

    }

    &:hover {
      background: linear-gradient(180deg, darken($blue, 5%) 0%, darken($colorblack, 5%) 100%);

      span {
        background-position: 100% center;
      }

    }
  }

  .gallery__btn {
    background: linear-gradient(180deg, $orangefirst 0%, $orangelast 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    appearance: none;
    border: none;
    width: 100%;
    cursor: pointer;
    display: block;
    color: $white;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 14px 0;
    font-family: pf_beausans_probold;
    margin: 15px 0;

    span {
      background: url('../img/arrow-right.svg') no-repeat;
      background-position: 98% center;
      transition-duration: 500ms;
      transition-property: background-position;
      padding-right: 20px;
    }

    &:hover {
      background: linear-gradient(180deg, darken($orangefirst, 5%) 0%, darken($orangelast, 5%) 100%);

      span {
        background-position: 100% center;
      }

    }
  }

}

@media (min-width: 768px) {

  .gallery {

    .gallery__block {
      display: flex;
    }

    .gallery__block--hide-mobile {
      display: flex;
    }

    .gallery__block--hide-desktop {
      display: none;
    }

    .gallery__element {
      margin-right: 30px;

      &:nth-child(even) {
        margin-right: 0;
      }

    }

    .gallery__buttons {
      display: flex;
      justify-content: center;

      button {
        margin: 15px;
        max-width: 280px;
      }

    }

  }

}

@media (min-width: 980px) {

  .gallery {

    .gallery__wrap {
      margin: 80px auto;
    }

    .gallery__title {
      font-size: 3.125rem;
      line-height: 3.5rem;

      &::after {
        height: 6px;
        max-width: 419px;
        width: auto;
        margin-top: 14px;
      }

    }

    .gallery__buttons {

      button {
        font-size: 1.4375rem;
        line-height: 1.75rem;
        max-width: 390px;
      }

    }

    .gallery__add {

      span {

        b {
          background-size: 20px;
          width: 20px;
          height: 11px;
        }

      }

    }

  }

}