.menu {

  .menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .menu__element {
    margin: 5px 10px;
  }

  .menu__link {
    text-decoration: none;
    color: $colorblack;
    font-size: 1.375rem;
    line-height: 1.5rem;
    border-bottom: 1px dotted $colorblack;

    &:hover {
      color: #45B4E3;
    }

  }

}

@media (min-width: 768px) {

  .menu {

    .menu__list {
      justify-content: center;
    }

  }

}