.reservation {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: $white;
  padding: 15px 20px;
  box-sizing: border-box;

  .reservation__title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 1.875rem;
    margin: 20px 0 25px;
  }
  
  .reservation__input {
    margin: 15px 0;

    input {
      background-color: $grayinput;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
      width: 100%;
      font-size: 1.25rem;
      line-height: 2.375rem;
      color: $black;
      padding: 5px 10px 5px 19px;
      display: block;
      font-family: 'pf_beausans_probbook';
    }

    .input-err {
      border-color: #ff0000;
    }

    ::placeholder {
      color: $colorinput;
      font-family: pf_beausans_proitalic;
    }
    
  }

  .reservation__button {
    margin: 24px 0 26px;

    button {
      background: linear-gradient(180deg, $orangefirst 0%, $orangelast 100%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      appearance: none;
      border: none;
      width: 100%;
      cursor: pointer;
      display: block;
      color: $white;
      font-size: 1.25rem;
      line-height: 1.375rem;
      padding: 14px 0;

      span {
        background: url('../img/arrow-right.svg') no-repeat;
        background-position: 97% center;
        transition-duration: 500ms;
        transition-property: background-position;
        padding-right: 20px;
      }

      &:hover {
        background: linear-gradient(180deg, darken($orangefirst, 5%) 0%, darken($orangelast, 5%) 100%);

        span {
          background-position: 100% center;
        }

      }

    }

  }

  .reservation__conf {
    color: $lightgray;
    font-size: 0.875rem;
    line-height: 1rem;
    font-family: pf_beausans_proitalic;
    margin: 26px 0 30px;
  }

}

.reservation--modern {
  background: none;
  padding: 0;
  box-shadow: none;

  .reservation__input {

    input {
      border-radius: 15px;
    }

  }

  .reservation__conf {
    color: #BDC7D4;
  }

}

.reservation--acquaintance {

  .reservation__title {
    font-size: 1.375rem;
  }

  .reservation__input {

    input {
      border-radius: 15px;
    }

  }

}

@media (min-width: 768px) {

  .reservation--modern {

    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .reservation__input, .reservation__button {
      flex-basis: 32%;
      margin: 15px 0;
    }

    .reservation__conf {
      margin: 15px 0;
      color: $black;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

  }

}

@media (min-width: 980px) {

  .reservation {

    .reservation__input, .reservation__button {
      margin: 15px 0;

      input, button {
        max-width: 270px;
        margin: 0 auto;
      }

    }

    .reservation__button {
      margin: 24px 0 26px;
    }

    .reservation__conf {
      max-width: 280px;
      margin: 26px auto 30px;
    }

  }

  .reservation--modern {

    .reservation__input, .reservation__button {
      flex-basis: 32%;
      margin: 15px 0;

      input, button {
        max-width: 100%;
        font-size: 1.875rem;
        line-height: 2rem;
      }

      input {
        padding-top: 13px;
        padding-bottom: 13px;
      }

    }

    .reservation__conf {
      max-width: 100%;
      text-align: left;
      margin: 15px 0;
    }

  }

  .reservation--acquaintance {

    .reservation__title {
      font-size: 1.625rem;
    }

    .reservation__input {

      input {
        border-radius: 0;
      }

    }

  }

}