.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .socials__element {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }

  }
  
  .socials__element--hide {
    display: none;
  }

  .socials__link {
    text-decoration: none;
  }

  .socials__link--telegramm {
    background: url('../img/whatsapp.svg') center no-repeat;
    background-size: 100%;
    width: 31px;
    height: 31px;
    font-size: 0;
    display: block;
  }

  .socials__link--whatsapp {
    background: url('../img/telegram.svg') center no-repeat;
    background-size: 100%;
    width: 31px;
    height: 31px;
    font-size: 0;
    display: block;
  }

}

@media (min-width: 480px) {

  .socials {

    .socials__element--hide {
      display: block;
    }

  }

}

@media (min-width: 640px) {

  .socials {

    .socials__element {
      margin-right: 16px;
    }

    .socials__link--telegramm {
      width: 39px;
      height: 39px;
    }

    .socials__link--whatsapp {
      width: 39px;
      height: 39px;
    }

  }

}