.video {
  background: linear-gradient(to top right, $blue, $darkblue);
  padding: 15px 0;
  margin: 30px 0;
  max-height: 460px;

  .video__title {
    font-size: 0;
  }

  .video__block {
    @include adaptive-video();
    max-height: 460px;

    iframe {
      max-height: 460px;
    }

  }

}

@media (min-width: 980px) {

  .video {
    margin: 60px 0 100px;
  }

}

@media (min-width: 1200px) {

  .video {
    padding: 0;
  }

}